<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem de Membros de Projetos
                    <div class="pull-right col-md-9">
                        <form class="form-inline" name="form" role="form" method="POST" ng-submit="save()">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="member_id"
                                           ng-model="userSelected"
                                           typeahead="o as o.name for o in getUsers($viewValue)|limitTo:10"
                                           typeahead-input-formatter="formatName($model)"
                                           typeahead-on-select="selectUser($item)"
                                           typeahead-editable="false"
                                           required>
                                </div><!-- .col -->
                            </div><!-- form-group -->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div><!-- .col -->
                            </div><!-- form-group -->
                        </form>

                    </div><!-- .col -->
                    <div class="clearfix"></div>

                </div><!-- .panel-heading -->
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in projectMembers">
                            <td>{{o.user.data.name}}</td>
                            <td nowrap>
                                <a ng-href="#/project/{{o.project_id}}/member/{{o.id}}/remove">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div><!-- panel-body -->
            </div>
        </div>
    </div>
</div>