<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project Manager > Clientes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100,100italic,300italic,400italic,500italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/components.css">
        <link rel="stylesheet" href="css/app.css">
        <!--[if lte IE 7]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
        <![endif]-->
        <script src="js/components.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="header-global">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="index.html" class="brand">
                                <img src="images/logo.png" alt=""/>
                                <span class="text">Project Manager</span>
                            </a> <!-- /brand -->
                        </div>
                        <div class="col-sm-6">
                            <menu class="menu">
                                <li>
                                    <a href="index.html">
                                        <i class="fa fa-home"></i> Painel
                                    </a>
                                </li>
                                <li>
                                    <a href="projetos.html">
                                        <i class="flaticon-data-analytics1"></i> Projetos
                                    </a>
                                </li>
                                <li>
                                    <a href="clientes.html" class="actived">
                                        <i class="flaticon-office-worker2"></i> Clientes
                                    </a>
                                </li>
                                <li>
                                    <a href="arquivos.html">
                                        <i class="flaticon-file94"></i> Arquivos
                                    </a>
                                </li>
                                <li>
                                    <a href="tarefas.html">
                                        <i class="flaticon-checkmark10"></i> Tarefas
                                    </a>
                                </li>
                            </menu> <!-- /menu -->
                        </div>
                        <div class="col-sm-2">
                            <form action="" class="form-inline" role="form">
                                <input type="text" name="q" placeholder="Busca" />
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form> <!-- /form-search -->
                        </div>
                        <div class="col-sm-2">
                            <a href="" class="userinfo">
                                <i class="avatar flaticon-user7"></i>
                                Olá, Alfredo
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- /top -->
            <div class="bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="h3">Clientes</h1>
                        </div>
                    </div>
                </div>
            </div> <!-- /bottom -->
        </header> <!-- /header-global -->
        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="boxed-manager">
                            <div class="boxed-manager-menu">
                                <ul class="boxed-manager-menu-nav">
                                    <li class="boxed-manager-menu-nav-header">
                                        <h3 class="h4">
                                            Clientes

                                            <div class="btn-group pull-right">
                                                <label class="select-styled select-styled-default select-styled-sm">
                                                    <select>
                                                        <option selected="selected">A</option>
                                                        <option>B</option>
                                                        <option>C</option>
                                                        <option>D</option>
                                                        <option>E</option>
                                                        <option>F</option>
                                                    </select>
                                                </label>
                                                <a href="" class="btn btn-default btn-sm">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </h3>
                                    </li>
                                    <li class="boxed-manager-menu-nav-item">
                                        <a href="">
                                            <header>
                                                <h4 class="h4 text-boulder">Nome do Cliente</h4>
                                                <small class="text-upper text-silver">orea@seca.com</small>
                                            </header>
                                        </a>
                                    </li>
                                    <li class="boxed-manager-menu-nav-item">
                                        <a href="" class="actived">
                                            <header>
                                                <h4 class="h4 text-boulder">Nome do Cliente</h4>
                                                <small class="text-upper text-silver">orea@seca.com</small>
                                            </header>
                                        </a>
                                    </li>
                                    <li class="boxed-manager-menu-nav-item">
                                        <a href="">
                                            <header>
                                                <h4 class="h4 text-boulder">Nome do Cliente</h4>
                                                <small class="text-upper text-silver">orea@seca.com</small>
                                            </header>
                                        </a>
                                    </li>
                                    <li class="boxed-manager-menu-nav-item">
                                        <a href="">
                                            <header>
                                                <h4 class="h4 text-boulder">Nome do Cliente</h4>
                                                <small class="text-upper text-silver">orea@seca.com</small>
                                            </header>
                                        </a>
                                    </li>
                                    <li class="boxed-manager-menu-nav-item">
                                        <a href="">
                                            <header>
                                                <h4 class="h4 text-boulder">Nome do Cliente</h4>
                                                <small class="text-upper text-silver">orea@seca.com</small>
                                            </header>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="boxed-manager-main boxed-manager-main-xlg">
                                <div class="boxed-manager-main-header">
                                    <h4 class="h4">
                                        Dados do cliente

                                        <div class="btn-group pull-right">
                                            <a href="" class="btn btn-default btn-xs" title="Editar">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="" class="btn btn-danger btn-xs" title="Apagar">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </h4>
                                </div>
                                <div class="boxed-manager-main-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p>
                                                <i class="icon-inline flaticon-gps36"></i> R. Code education, 1800
                                            </p>
                                            <p>
                                                <i class="icon-inline fa fa-envelope-o"></i> orea@seca.com
                                            </p>
                                            <p>
                                                <i class="icon-inline fa fa-skype"></i> oreaseca
                                            </p>
                                            <p>
                                                <i class="icon-inline flaticon-telephone60"></i> +55 11 9969.6969
                                            </p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>
                                                <i class="icon-inline fa fa-twitter"></i> @codeeducation
                                            </p>
                                            <p>
                                                <i class="icon-inline fa fa-facebook"></i> facebook.com/codeeducation
                                            </p>
                                            <p>
                                                <i class="icon-inline fa fa-google-plus"></i> Codeeducation
                                            </p>
                                            <p>
                                                <i class="icon-inline fa fa-search"></i> www.code.education
                                            </p>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="boxed-manager-main-body-fluid">
                                        <ul class="list-styled list-styled-alt">
                                            <li class="list-styled-header list-styled-header-lg text-upper text-center">
                                                <h4 class="h4">Projetos</h4>
                                            </li>
                                        </ul>

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Data de entrega</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Nome do projeto</td>
                                                <td>23/07/2015</td>
                                                <td>Atrasado</td>
                                            </tr>
                                            <tr>
                                                <td>Nome do projeto</td>
                                                <td>23/07/2015</td>
                                                <td>Atrasado</td>
                                            </tr>
                                            <tr>
                                                <td>Nome do projeto</td>
                                                <td>23/07/2015</td>
                                                <td>Atrasado</td>
                                            </tr>
                                            <tr>
                                                <td>Nome do projeto</td>
                                                <td>23/07/2015</td>
                                                <td>Atrasado</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-global">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">&copy; Project Manager - 2015</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>