<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="boxed-manager">
                    <div class="boxed-manager-menu">
                        <ul class="boxed-manager-menu-nav">
                            <li class="boxed-manager-menu-nav-header">
                                <h3 class="h4">
                                    Projetos

                                    <div class="btn-group pull-right">
                                        <a href="#/projects" class="btn btn-primary btn-sm text-upper">
                                            <small>Ver todos</small>
                                        </a>
                                        <a href="#/project/new" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </h3>
                            </li>
                            <li class="boxed-manager-menu-nav-item" ng-repeat="p in projects">
                                <a href="javascript:void(0);" ng-click="showProject(p)">
                                    <header>
                                        <h4 class="h4 text-boulder">{{p.name}}</h4>
                                        <small class="text-upper text-silver">{{p.client.name}}</small>
                                    </header>
                                    <p class="status" ng-class="{'text-info':p.status==1, 'text-success': p.status==2, 'text-danger':p.status==3}">
                                        <i class="fa fa-circle"></i> {{status[p.status-1].label}}
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="boxed-manager-main arrow">
                        <div class="boxed-manager-main-header">
                            <h4 class="h4">
                                {{project.name}} <small>({{project.progress}}%)</small>

                                <div class="btn-group pull-right">
                                    <a href="#/project/{{project.id}}/edit" class="btn btn-default btn-xs" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#/project/{{project.id}}/remove" class="btn btn-danger btn-xs" title="Apagar">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div class="boxed-manager-main-body">
                            <div class="btn-group" role="tablist" tab-project>
                                <a href=""
                                   aria-controls="detalhes"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Detalhes
                                </a>
                                <a href=""
                                   aria-controls="tarefas"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Tarefas
                                </a>
                                <a href=""
                                   aria-controls="arquivos"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Arquivos
                                </a>
                                <a href=""
                                   aria-controls="anotacoes"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Anotações
                                </a>
                                <a href=""
                                   aria-controls="membros"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Membros
                                </a>
                            </div>

                            <br/>
                            <br/>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="detalhes">
                                    <p>{{project.description}}</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tarefas">
                                    <div class="boxed-manager-main-header" ng-show="project.tasks.data">
                                        <h4 class="h4">
                                            <div class="btn-group">
                                                <a href="#/project/{{project.id}}/task/new" class="btn btn-default btn-xs" title="Novo">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </h4>
                                    </div>
                                    <div class="task-list">
                                        <ul class="task-list-body">
                                            <li ng-repeat="t in project.tasks.data">
                                                <label>
                                                    <input type="checkbox" name="" id="{{t.id}}" ng-checked="t.status==3"
                                                           ng-disabled="t.status==3" ng-click="updateTask(t)"/>
                                                            <span class="status"
                                                                  ng-class="{'text-info':t.status==1, 'text-warning':t.status==2, 'text-success':t.status==3}">
                                                                    {{t.name}}
                                                            </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="arquivos">
                                    <div class="boxed-manager-main-header" ng-show="project.files.data">
                                        <h4 class="h4">
                                            <div class="btn-group">
                                                <a href="#/project/{{project.id}}/file/new" class="btn btn-default btn-xs" title="Novo">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </h4>
                                    </div>
                                    <div class="files-list-blocks">
                                        <project-file-download ng-repeat="f in project.files.data" id-project="{{f.project_id}}" id-file='{{f.id}}' file='f'></project-file-download>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="anotacoes">
                                    <div class="boxed-manager-main-header" ng-show="project.notes.data">
                                        <h4 class="h4">
                                            <div class="btn-group">
                                                <a href="#/project/{{project.id}}/note/new" class="btn btn-default btn-xs" title="Novo">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </h4>
                                    </div>
                                    <div class="notes-list">
                                        <div class="notes-list-item note-type-status-changed" ng-repeat="n in project.notes.data">
                                            <a href="" class="avatar avatar-xs">
                                                <img src="build/assets/images/avatar.png" alt=""/>
                                            </a>
                                            <div class="notes-list-body">
                                                <h6>
                                                    {{n.title}}
                                                    <span class="time">{{n.created | dateMoment}}</span>
                                                </h6>
                                                <p class="notes-list-body-content">
                                                    {{n.note}}
                                                </p>
                                            </div>
                                        </div> <!-- /notes-list-item -->
                                        <!-- <div class="notes-list-item note-type-task-completed">
                                             <a href="" class="avatar avatar-xs">
                                                 <img src="build/assets/images/avatar.png" alt=""/>
                                             </a>
                                             <div class="notes-list-body">
                                                 <h6>
                                                     <span class="user">Sample Admin</span> completed a task
                                                     <span class="time">2 years ago</span>
                                                 </h6>
                                                 <p class="notes-list-body-content">
                                                     <input type="checkbox" name="" id="" disabled="disabled" checked="checked" />
                                                     Design the new landing page
                                                 </p>
                                             </div>
                                         </div> /notes-list-item
                                         <div class="notes-list-item note-type-attachement">
                                             <a href="" class="avatar avatar-xs">
                                                 <img src="build/assets/images/avatar.png" alt=""/>
                                             </a>
                                             <div class="notes-list-body">
                                                 <h6>
                                                     <span class="user">Sample Admin</span> upload a file
                                                     <span class="time">2 years ago</span>
                                                 </h6>
                                                 <p class="notes-list-body-content">
                                                     <a href="">
                                                         <i class="fa fa-paperclip"></i> preview.jpg
                                                     </a>
                                                 </p>
                                             </div>
                                         </div> /notes-list-item
                                         <div class="notes-list-item note-type-message">
                                             <a href="" class="avatar avatar-xs">
                                                 <img src="build/assets/images/avatar.png" alt=""/>
                                             </a>
                                             <div class="notes-list-body">
                                                 <h6>
                                                     <span class="user">Sample Admin</span> posted a message on a project
                                                     (<a href="">Sample Project</a>)
                                                     <span class="time">2 years ago</span>
                                                 </h6>
                                                 <p class="notes-list-body-content">
                                                     Hi. John asked me to look at the changes. Everythins looks greate!
                                                 </p>
                                             </div>
                                         </div> --> <!-- /notes-list-item -->
                                    </div> <!-- /notes-list -->
                                </div>
                                <div role="tabpanel" class="tab-pane" id="membros">
                                    <div class="" ng-show="project.members.data">
                                        <div >
                                            <form name="formMember" class="form-inline" role='form' ng-submit="saveMember()">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Name:</label>
                                                    <div class="col-md-6">
                                                        <input type="text" name="member_id" class="form-control"
                                                               ng-model="userSelected" required
                                                               typeahead="u as u.name for u in getUsers($viewValue)|limitTo:10"
                                                               typeahead-input-formatter="formatName($model)"
                                                               typeahead-on-select="selectUser($item)"
                                                               typeahead-editable='false' required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </div>
                                            </form><br>
                                        </div>
                                    </div>
                                    <div class="task-list">
                                        <ul class="task-list-body">
                                            <li ng-repeat="m in project.members.data">
                                                <a ng-href="#/project/{{project.id}}/member/{{m.id}}/remove" title="Excluir"><i class="fa fa-minus"></i></a> {{m.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxed-manager-info">
                        <div class="boxed-manager-info-header">
                            <h4 class="h4">Estatísticas do projeto</h4>
                        </div>
                        <div class="boxed-manager-info-body">
                            <div class="boxed-manager-info-body-chart text-center">
                                <div class="radial-progress radial-progress-lg radial-progress-danger" data-progress="{{project.progress}}">
                                    <div class="circle">
                                        <div class="mask full">
                                            <div class="fill"></div>
                                        </div>
                                        <div class="mask half">
                                            <div class="fill"></div>
                                            <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="inset">
                                        <div class="percentage">
                                            <div class="numbers">{{project.progress}}%</div>
                                        </div>
                                    </div>
                                </div>
                                Progresso esperado: {{project.progress_expected}}%
                            </div>
                            <ul class="list-styled">
                                <li class="list-styled-header text-upper text-center">
                                    Cliente
                                </li>
                                <li class="text-center text-silver">{{project.client.name}}</li>
                                <li class="list-styled-header text-upper text-center">
                                    Data de entrega
                                </li>
                                <li class="text-center text-silver">{{project.due_date | dateBr}}</li>
                                <li class="list-styled-header text-upper text-center">
                                    Tarefas ({{project.tasks_count}})
                                </li>
                                <li class="text-center text-silver">{{project.tasks_opened}} tarefas em aberto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>