<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="boxed-manager">
                    <div class="boxed-manager-menu">
                        <ul class="boxed-manager-menu-nav">
                            <li class="boxed-manager-menu-nav-header">
                                <h3 class="h4">
                                    Clientes

                                    <div class="btn-group pull-right">
                                        <a href="#/clients" class="btn btn-primary btn-sm text-upper">
                                            <small>Ver todos</small>
                                        </a>
                                        <!-- <label class="select-styled select-styled-default select-styled-sm">
                                            <select>
                                                <option selected="selected">A</option>
                                                <option>B</option>
                                                <option>C</option>
                                                <option>D</option>
                                                <option>E</option>
                                                <option>F</option>
                                            </select>
                                        </label> -->
                                        <a ng-href="#/client/new" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </h3>
                            </li>
                            <li class="boxed-manager-menu-nav-item" ng-repeat="o in clients">
                                <a href="javascript:void(0)" ng-click="showClient(o)">
                                    <header>
                                        <h4 class="h4 text-boulder">{{o.name}}</h4>
                                        <small class="text-upper text-silver">{{o.email}}</small>
                                    </header>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="boxed-manager-main boxed-manager-main-xlg">
                        <div class="boxed-manager-main-header">
                            <h4 class="h4">
                                Dados do cliente

                                <div class="btn-group pull-right">
                                    <a href="#/client/{{client.id}}/edit" class="btn btn-default btn-xs" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#/client/{{client.id}}/remove" class="btn btn-danger btn-xs"
                                       title="Apagar">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div class="boxed-manager-main-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p>
                                        <i class="icon-inline flaticon-gps36"></i> {{client.address}}
                                    </p>
                                    <p>
                                        <i class="icon-inline fa fa-envelope-o"></i> {{client.email}}
                                    </p>
                                    <p>
                                        <i class="icon-inline fa fa-skype"></i> {{client.skype}}
                                    </p>
                                    <p>
                                        <i class="icon-inline flaticon-telephone60"></i> {{client.phone}}
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <p>
                                        <i class="icon-inline fa fa-twitter"></i> {{client.twitter}}
                                    </p>
                                    <p>
                                        <i class="icon-inline fa fa-facebook"></i> {{client.facebook}}
                                    </p>
                                    <p>
                                        <i class="icon-inline fa fa-google-plus"></i> {{client.google}}
                                    </p>
                                    <p>
                                        <i class="icon-inline fa fa-search"></i> {{client.url}}
                                    </p>
                                </div>
                            </div>

                            <br/>

                            <div class="boxed-manager-main-body-fluid">
                                <ul class="list-styled list-styled-alt">
                                    <li class="list-styled-header list-styled-header-lg text-upper text-center">
                                        <h4 class="h4">Projetos</h4>
                                    </li>
                                </ul>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Data de entrega</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="p in client.projects.data">
                                    <tr>
                                        <td>{{p.name}}</td>
                                        <td>{{p.due_date|dateBr}}</td>
                                        <td>{{status[p.status-1].label}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>